@import url('https://fonts.googleapis.com/css2?family=Concert+One:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

* {
    font-size: 20px;
    font-weight: 600;
    color: rgb(25, 168, 17);
}



h1 {
    text-align: center;
    color: rgb(98, 162, 130);
    font-size: 30px;
}

body {
    padding: 1rem 5rem;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url('bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: rgb(101, 170, 135);
    text-decoration: underline;
    font-family: 'Orbitron', sans-serif;
}
::placeholder{
     color: rgb(50, 47, 47);
}

#input {
    font-size: 18px;
    padding: 5px 10px;
    outline: none;
    border: none;
    color: black;
    border-radius: 15px;
    background: rgb(117, 136, 124);;
}

#search {
    background: none;
    padding: 5px 20px;
    color: rgb(4, 35, 19);
    outline: none;
    background: cadetblue;
    font-size: 17px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}

.weather {
    text-align: center;
    color: rgb(247, 247, 247);
}

#city {
    font-size: 30px;
    color: rgba(213, 231, 179, 0.778);
    }

.weather img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    
}

#temperature {
    font-size: 50px;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
    color: rgb(165, 210, 162);

}

.temp-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

#clouds {
    font-size: 20px;
    background: rgba(177, 205, 123, 0.778);
    padding: 2px 20px;
    border-radius: 15px;
    color: rgb(8, 87, 3);
}

main {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 5px 1fr;
    align-items: center;
    margin: 0 50px;
    color: rgb(255, 250, 250);
}

.next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.next p,
.next h3 {
    margin: 3px 0;
}

.forecstD {
    margin: 20px 50px;
    color: rgb(230, 233, 236);
}

.weekF {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cast-header {
    color: rgb(235, 237, 240);
    background: rgba(254, 189, 132, 0.539);
    width: max-content;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin-bottom: 5px;
}

.divider1,
.divider2 {
    background: rgba(254, 189, 132, 0.539);
    height: 200px;
    border-radius: 5px;
}

.divider2 {
    height: 5px;
    width: 30%;
    margin: 0 auto;
}

.time,
.date {
    color: rgb(251, 249, 249);
}

.desc {
    color: rgb(247, 252, 252);
}
@media screen and (max-width:600px)
 {
    .weekF {
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        grid-gap: 50px;
    }
    .header h1 {
        color: rgb(101, 170, 135);
        text-decoration: underline;
        font-family: 'Orbitron', sans-serif;
        margin-right: 300px;
    }
    .next {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin:20px;
    }
    .temp-box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    main {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 1fr 5px 1fr;
        align-items:center;
        margin: 0px;
        color: rgb(255, 250, 250);
    }
    body {
    height:100%;
    padding: 1rem 5rem;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    background-image: url('bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
      }
}   
